<h1 class="header">
  <a
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="backlink"
    >Paul Munyao Mutiso</a
  >
</h1>

<div class="researchbrief">
  <h1 class="brief">Where Ideas Take Root: Exploring Research Landscapes</h1>
</div>

<div class="example-papers">
  <div>
    <p class="example-text">
      (i) Cultural and artistic exploration of happiness
      <a
        href="https://www.researchgate.net/publication/370658924_CULTURAL_AND_ARTISTIC_EXPLORATION_OF_HAPPINESS"
        >[ i ]</a
      >
    </p>
  </div>

  <div>
    <p class="example-text">
      (ii) Work Fulfillment from meaningful work. What motivates us to work
      <a
        href="https://www.researchgate.net/publication/370658929_Work_Fulfillment_from_meaningful_work_What_motivates_us_to_work"
        >[ ii ]</a
      >
    </p>
  </div>
</div>
