.backlink {
  text-decoration: none;
  color: black;
  margin-left: 100px;
}

.header {
  margin-top: 40px;
}

.researchbrief {
  text-align: center;
}

.example-papers {
  margin-left: 200px;
}

.example-papers {
  margin-left: 200px;
}

@media only screen and (max-width: 600px) {
  .backlink {
    margin-left: 50px;
  }
  .example-papers {
    margin-left: 40px;
  }
}

@media (max-width: 320px) {
  .backlink {
    margin-left: 40px;
    font-size: 20px;
  }

  .brief {
    font-size: 20px;
  }

  .example-text {
    font-size: 15px;
  }
}
