<div>
  <h1>Pixels & Progress: Exploring Software Portfolio</h1>
  <p>
    Digital Brushstrokes of Excellence: Embarking on a Journey Through Software
    Canvas
  </p>
</div>
<div class="card">
  <img class="search-portfolio" src="assets/images/search.jpeg" alt="" />
  <div class="container">
    <h4><b>Github-Search</b></h4>
    <p>A web application that lets users find any GitHub profile</p>
  </div>
</div>
<div class="card">
  <img class="search-portfolio" src="assets/images/Platform.jpeg" alt="" />
  <div class="container">
    <h4><b>Alumni Platform</b></h4>
    <p>Backend API's for a communication platform <a href="https://bump.sh/paulmunyao/doc/alumni-platform">(API's)</a></p>
  </div>
</div>
