.projectspage {
  overflow-x: hidden;
}

.homelink {
  text-decoration: none;
  margin-left: 100px;
  color: black;
}

.projectbrief {
  text-align: center;
}

.card {
  width: 60%;
  margin-left: 80px;
}

.search-portfolio1 {
  height: 100px;
}

.search-portfolio2 {
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .projectspage {
    overflow-x: hidden;
  }

  .homelink {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin-left: 70px;
    color: black;
  }

  .card {
    width: 63%;
    margin-top: 20px;
  }

  .search-portfolio1 {
    height: 100px;
  }

  .search-portfolio2 {
    height: 100px;
  }
}

@media (max-width: 320px) {
  .homelink {
    margin-left: 60px;
    font-size: 15px;
  }

  .brief {
    font-size: 20px;
  }

  .card {
    width: 80%;
    margin-top: 20px;
    margin-left: 30px;
  }
}
