<div class="projectspage">
  <h1>
    <a
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="homelink"
      >Paul Munyao Mutiso</a
    >
  </h1>
  <div class="projectbrief">
    <h1 class="brief">Pixels & Progress: Exploring Software Portfolio</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img
            class="search-portfolio1"
            src="assets/images/search.jpeg"
            alt=""
          />
          <h5 class="card-title">Github-Search</h5>
          <p class="card-text">
            A web application that lets users find any GitHub profile.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img
            class="search-portfolio2"
            src="assets/images/Platform.jpeg"
            alt=""
          />
          <h5 class="card-title">Alumni Platform</h5>
          <p class="card-text">
            Backend API's for a communication platform.
            <a href="https://bump.sh/paulmunyao/doc/alumni-platform">(API's)</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
