@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1916d;
}

#top-bar {
  border-radius: 50%;
  width: 32px; /* Set a width and height for the favicon */
  height: 32px;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
}
