<div class="intro">
  <div class="movedown">
    <img class="profile" src="assets/images/git.jpeg" alt="" />
    <h1>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="home-link"
        >Paul Munyao Mutiso</a
      >
    </h1>
    <p class="hello">Hello!</p>
    <img class="wave" src="assets/images/wave.gif" alt="" />
    <h5 class="description">
      I am a software developer based in Nairobi, Kenya.
    </h5>
    <h5 class="description">
      Swing by to know more
      <a href="https://www.linkedin.com/in/paulmunyao/#/">
        ABOUT ME.</a
      >
    </h5>
    <h5 class="description">
      Check the constellation of

      <a
        routerLink="/projects"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >PROJECTS</a
      >
      that I have worked on. My
      <a href="https://github.com/paulmunyao">GITHUB </a> profile can be
      accessed in this section.
    </h5>
    <h5 class="description">
      I do like
      <a
        routerLink="/research"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >RESEARCH</a
      >
      Dabble in my explorations.
    </h5>
    <h5 class="description">
      I welcome you with open arms to my blog on
      <a href="https://medium.com/@paulmutiso">Medium</a> and
      <a href="https://paulmunyao.hashnode.dev/">Hashnode</a>
      waiting to be unearthed by your inquisitive mind.
    </h5>
    <h5 class="description">
      Lets connect on
      <a href="https://www.linkedin.com/in/paulmunyao/#/">LINKEDIN.</a>
    </h5>
  </div>
</div>
