<div class="intro">
  <img src="assets/images/Profile.jpeg" alt="">
  <h1>Paul Munyao Mutiso</h1>
  <p class="hello">Hello!</p>
  <img class="wave" src="assets/images/wave.gif" alt="" />
  <h3>I am a software developer based in Nairobi, Kenya.</h3>
  <h3>You can also know more <a href="https://www.linkedin.com/in/paul-munyao-869a8a165/">ABOUT ME </a> here.</h3>
  <h3>
    Check the

    <a
      routerLink="/projects"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >PROJECTS</a
    >
    that I have worked on.My
    <a href="https://github.com/paulmunyao">GITHUB </a> profile can be accessed
    in this section.
  </h3>
  <h3>
    I do like
    <a
      routerLink="/research"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >RESEARCH</a
    >
    You can checkout some of the papers.
  </h3>
  <h3>
    Feel free to reach out on
    <a href="https://www.linkedin.com/in/paul-munyao-869a8a165/">LINKEDIN</a>
  </h3>
</div>
